<!DOCTYPE html><center>

<html lang="" data-ng-app="myApp">
<head>
  <meta t="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>  
  <script src="app1.js"></script>
    <h1>Login Page</h1>
</head> 
<body style="background-color:#FF7F50">
<div  ng-controller="LoginController">     
<form>
<table>
  <tr>
    <td>User Name</td>
    <td><input type="text" name="userName" id="userName" data-ng-model="userName"/></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><input type="password" name="password" id="password" data-ng-model="password"/></td>
  </tr>
</table><br/>
   <button id="Login" name="Login" ng_click="Login(userName, password)">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;
    New user?<a href="register.html"><input type="button" value="register"/></a>
    
</div>
    
<div id="x"></div>
 </body>
    </center>
</html>

